/* @package Cascading Style Sheets Mass Moderation in Search
^>@version v1.1.1 07h79 03/16/2014 Geolim4 Exp $
-------------------------------------------------*/
.ui-widget-header { color: #FFF; background-image: url("images/bg_list.gif"); background-clip: padding-box; }
.ui-widget-content .ui-state-default, .ui-state-default { background-clip: padding-box; }
.ui-dialog .ui-dialog-buttonpane { margin: 0; padding: 0; }
.univ li.header dt, .univ li.header dd, .univ li.row dt, .univ li.row dd { width: 15%; font-weight: normal; }
.univ li.row strong { color: #4C5D77; font-weight: bold; }
.univ li.header dt + dd, .univ li.header dt + dd + dd, .univ li.row dt + dd, .univ li.row dt + dd + dd { text-align: center; }
.univ li.header dt:last-child, .univ li.header dd:last-child, .univ li.row dt:last-child, .univ li.row dd:last-child { text-align: left; width: auto; padding: 2px 0 2px 5px; }
.univ + a.right:link { color: #105289; padding-right: 18px; }

.ui-selectable-helper {
	position: absolute;
	z-index: 100;
	background-color: #96DFFE;
	opacity: 0.4 !important;
	border: 1px dashed black;
}
.mms_div{
	position: relative;
}
.mms_tiny{
	width: 20% !important;
}
.mms_tooltip{
	visibility: none;
}

.mms_url_loading{
	background-image: url("./images/mms_loading.gif");
	background-repeat: no-repeat;
	background-size: 18px auto;
	padding-left: 18px !important;
}
.ui-effects-transfer { border: 2px dotted gray;}
.ui-progressbar-value{
	transition: all 300ms ease-in-out;
}
.mms_Sinput{
	width : 100% !important;
	height: 99% !important;
	position: absolute !important; 
	opacity: 0 !important;
	z-index : -10 !important;
	left: 0px !important;
	top: 0px !important;
}
.mms_Pinput{
	width : 100% !important;
	height: 99% !important;
	position: absolute !important; 
	opacity: 0 !important;
	z-index : 10 !important;
	left: 0px !important;
	top: 0px !important;
}
.mms_Cinput{
	width : inherit;
	height: inherit;
	position: static; 
	opacity: 1;
	z-index : 0;
	left: 0px;
	top: 0px;
}
.mms_hidden{
	display: none;
}
.mms_Qicon{
    display: inline-block;
    margin: -2px 5px -3px -1px;
}
.mms_selected{
	background-color: #C7F3D3 !important;
	font-style: italic;
}
.mms_stick {
	box-shadow: 0px 0px 4px 2px #FFF; 
	width: 99% !important;
    position: fixed;
    top: 0;
	left: 0;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
}
#cp-main .rules{
	margin: 0 !important;
}
#cp-main .rules span.corners-top {
	background-image: url("./images/corners_left.gif");
}

#cp-main .rules span.corners-top span {
	background-image: url("./images/corners_right.gif");
}

#cp-main .rules span.corners-bottom {
	background-image: url("./images/corners_left.gif");
}

#cp-main .rules span.corners-bottom span {
	background-image: url("./images/corners_right.gif");
}
#mms_form{
	cursor: crosshair;
}
#mms_doc_loading{
	position: fixed;
	z-index: 10000;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	background-color: #000;
	opacity: 0.7;
	text-align: center;
}
#mms_grabip_div h4 {
	margin-top: 1em;
}
#mms_grabip_div textarea {
	vertical-align:top;
	border : 1px dashed white !important;
	background-color: #DDD;
	max-height: 600px;
}
#mms_doc_loading h2{
	color: #FFF;
	font-size: 2em;
	margin-top: 5%;
}
#mms_doc_loading p{
	color: #FFF;
	font-size: 1.5em;
}